<h2>Thanks for registering!</h2>


<p>Your trip has been planned.  Now all you have to do is share the link below with your friends!</p>

<p><%= link_to "#{@trip.shareable_url}", @trip.shareable_url %></p>

<p>Thanks for using this service!</p>

